<header class="store-category-header">
    <h1 class="store-category-title">@CategoryName</h1>
</header>

@code {
    [Parameter, EditorRequired] public string CategoryName { get; set; } = string.Empty;
}
